body{
    text-align: center;
    font-family:fantasy;
}
h1 {
    font-weight: bolder;
}
div {
    display: flex;
    justify-content: center;
    gap: 30px;
}
button {
    min-width: 120px;
    padding: 20px;
    font-size: large;
    font-weight: bold;
    font-family: fantasy;
    border-radius:45%;
}
button:hover {
    background-color: lightslategray;
    color: ghostwhite;
}
#textLine {
    white-space: pre;
    font-size: 20px;
}